<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.lastText}}
    </p>
    <button class="button button-balanced" ng-click="server()">
      调摄像头
    </button>
    <button class="button button-balanced" ng-click="change(chat.id)">
      保&nbsp&nbsp存
    </button>
    <div class="item item-image">
      <img ng-src="{{src}}" >
    </div>
    <iframe src="http://www.baidu.com" style="width: 100%;height: 600px;" ng-click="abc()"></iframe>
  </ion-content>
</ion-view>
